html {
  box-sizing: border-box;
  --orange: rgb(255, 181, 17);
  --gray-light: rgb(216, 216, 216);
  --gray: rgb(204, 204, 204);
  --gray-dark: rgb(119, 119, 119);
  --red: rgb(235, 87, 87);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
